@model Job_Requests.Models.ViewModels.JobRequestVM

@{
    ViewData["Title"] = "Create Job Request";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobRequests.DepartmentId" class="control-label"></label>
                <select asp-for="JobRequests.DepartmentId" class="form-select" asp-items="@Model.Departments" autofocus></select>
            </div>
@*             <div class="form-group">
                <label asp-for="JobRequests.ReceivingDepartmentId" class="control-label"></label>
                <select asp-for="JobRequests.ReceivingDepartmentId" class="form-select" asp-items="@Model.Departments"></select>
            </div> *@
            <div class="form-group">
                <label asp-for="JobRequests.JobDescription" class="control-label"></label>
                <textarea asp-for="JobRequests.JobDescription" class="form-control" style="height:200px;"></textarea>
                <span asp-validation-for="JobRequests.JobDescription" class="text-danger"></span>
            </div>
            <div class="form-group justify-content-between mt-3">
                <button type="submit" class="btn btn-success"> <i class="bi bi-floppy"></i> Submit</button>
                <a asp-action="Index" class="btn btn-outline-dark"><i class="bi bi-arrow-left-square"></i> Back</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
